@*@model IndexModel*@
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using SignalRAssignment.Entity

@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.Session.GetString("user");
    var custome = HttpContextAccessor.HttpContext.Session.GetString("customer");
    Account? acc = new Account();
    Customers? cus = new Customers();
    if (user != null)
    {
        acc = JsonConvert.DeserializeObject<Account>(user);
    }
    if (custome != null)
    {
        cus = JsonConvert.DeserializeObject<Customers>(custome);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <title>@ViewData["Title"] - Pizza Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Products.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Pizza Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @{
                            if (user != null && acc.Type == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Product/ListAllProduct">Product</a>
                                </li>
                            }
                            if (user != null && acc.Type == 2)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Customer/ListAllCus">Customers</a>
                                </li>
                            }
                            if (custome != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Profile">Profile</a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categories
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    @*@{
                                    foreach(var item in Model.Categories)
                                    {
                                    <li><a class="dropdown-item" asp-page="./Index" asp-route-cateId="@item.CategoryId">@item.CategoryName</a></li>
                                    }
                                    }*@
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Reviews</a>
                        </li>
                    </ul>
                    @{
                        if (user != null && acc.Type == 1)
                        {
                            <ul class="navbar-nav flex-grow-12">
                                <li class="nav-item">
                                    Welcome Admin: @acc.Username
                                </li>
                                <li class="nav-item"><a asp-page="/Login/Logout" class="btn btn-primary">Log out</a></li>
                            </ul>
                        }
                        else if (user != null && acc.Type == 2)
                        {
                            <ul class="navbar-nav flex-grow-12">
                                <li class="nav-item">
                                    Welcome Staff: @acc.Username
                                </li>
                                <li class="nav-item"><a asp-page="/Login/Logout" class="btn btn-primary">Log out</a></li>
                            </ul>
                        }
                        else if (custome != null)
                        {
                            <ul class="navbar-nav flex-grow-12">
                                <li class="nav-item">
                                    Welcome Customer: @cus.ContactName
                                </li>
                                <li class="nav-item"><a asp-page="/Login/Logout" class="btn btn-primary">Log out</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav flex-grow-12">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/Login/Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/Login/Register">Register</a>
                                </li>
                            </ul>
                        }
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ShoppingWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>