@page
@model SignalRAssignment.Pages.Product.ListAllProductModel
@{
}
<h1>Product Management</h1>
<a class="btn btn-primary" asp-page="./AddProduct">Create new</a>
<a class="btn btn-primary" asp-page="/Order/ListAllOrders">Orders</a>
<a class="btn btn-primary" asp-page="/Accounts/ListAllAccounts">Accounts</a>
<a class="btn btn-primary" asp-page="/Category/ListAllCate">Categories</a>
@*<a class="btn btn-primary" asp-page="/Customer/ListAllCus">Customers</a>*@
<a class="btn btn-primary" asp-page="/Supplier/Index">Suppliers</a>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <td>Name</td>
            <th>Supplier</th>
            <th>Category</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.AllProducts)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Supplier.CompanyName</td>
                    <td>@item.Category.CategoryName</td>
                    <td>@item.QuantityPerUnit</td>
                    <td>@item.UnitPrice<strong>$</strong></td>
                    <td>
                        <img style="width: 50px; height: 50px" src="@item.ProductImage" />
                    </td>
                    <td>

                        <a class="btn btn-primary" asp-page="./UpdateProduct" asp-route-id="@item.ProductId">Edit</a>
                        <form method="post">
                            <input type="hidden" name="prId" value="@item.ProductId" />
                            <input class="btn btn-outline-primary" type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>